{% macro createNavigationBar(map, root_class, sub_class) %}
	<ul class="{{ root_class|default('main_menu') }}">
		{% for page in map %}
		<li>
			<a href="{{ page.link|preindex }}">{{ page.label }}</a>
			{%  if page.subpages|length > 0 %}{{ _self.createNavigationBar(page.subpages, sub_class|default('sub_menu')) }}{% endif %}
		</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro listMenuItems(items, root_class, sub_class) %}
	<ul class="{{ root_class|default('main_menu') }}">
		{% for page in items %}
		<li>
			<a href="{{ page.link|preindex }}">{{ page.label }}</a>
		</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro languageSelector(active, languages, form_class) %}
{% set active_lang = active|default('en') %}
<form action="{{ path('change-language') }}" method="post" class="{{ form_class|default('language-selector') }}">
<span>{% for lang in languages|default(['hu','en']) %}<input type="submit" name="lang" value="{{ lang }}" class="lang-{{ lang }}{% if lang == active_lang %} active{% endif %}" />{% endfor %}</span>
</form>
{% endmacro %}