{% macro validateIfFilled(fields) %}
<script type="text/javascript">
function validateIfFilled() {
        var fields = { {% for key,val in fields %}'{{ key }}': '{{ val }}',{% endfor %} };

        for (key in fields) {
                if ($(key).val()=='') {
                        alert(fields[key] + ' mező kitöltése kötelező!');
                        return false;
                }
        }
        return true;
}
</script>
{% endmacro %}