{% macro list_Categories(parent, children, padding) %}
	{% for child in children %}
	<option value="{{ child.categoryID }}" style="padding-left:{{ padding|default(0) }}px">{{ parent }}{{ child.name }}</option>
	{% if child.hasChild %}
	{% set next = parent ~ child.name ~ ' / ' %}
	{{ _self.list_Categories(next, child.getChildren, 15) }}
	{% endif %}
	{% endfor %}
{% endmacro %}