{% extends "Core:Site:Client:config.html.twig" %}

{% block title %}{{ parent() }} / Facebook{% endblock %}

{% block content %}
{% if status == 'already_connected' %}
<form action="{{ path('connect-facebook') }}" method="post">
    <input type="submit" name="disconnect" value="{{ trans('facebook.disconnect',{}) }}" />
</form>
{% elseif status == 'not_logged_in' %}
{{ trans('facebook.connect',{'link':app.getFacebook.getLoginUrl({'redirect_uri':app.router.getCurrentHost ~ path('connect-facebook')})})|raw }}
{% else %}
Hiba.
{% endif %}
{% endblock %}