{% extends "Core:Site:base.html.twig" %}

{% block title %}{{ parent() }} / Facebook{% endblock %}

{% block content %}

{{ trans('facebook.login',{'link':app.getFacebook.getLoginUrl})|raw }}

{% endblock %}