{% from 'Core:Site:Macros:navigation.html.twig' import createNavigationBar, languageSelector %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>{% block title %}SITE{% endblock %}</title>
	{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	{% endblock %}
</head>
<body>
	<div id="wrapper">
		<div id="header">
		{% block header %}
		{% endblock %}
		</div>
		<div id="navigation">
		{% block navigation %}
		    {{ createNavigationBar(menuBuilder('CoreSite', 'generateMenu', ['login'])) }}
		{% endblock %}
		</div>
		<div id="content">
		{% block flushedMessage %}
		    {% include 'Core:Site:flushedMessages.html.twig' %}
		{% endblock %}
		{% block content %}
		{% endblock %}
		</div>
	</div>
	<div id="footer">
		{% block footer %}
		{% endblock %}
	</div>
</body>
</html>