{% set flushedMessages = app.getSession.flushMessages %}
{% if flushedMessages|length > 0 %}
{% for fE in flushedMessages %}
<div class="{{ fE.class|default('error') }} flushed-message"{% for k,v in fE.attributes %} {{ k }}="{{ v }}"{% endfor %}>{{ trans(fE.message, fE.parameters, fE.translation) }}</div>
{% endfor %}
{% endif %}