{% extends "Core:Site:base.html.twig" %}

{# {% block head %}
{{ parent() }}
<script type="text/javascript" src="{{ router.preindex }}/src/modules/fun/arrowsandboxes.js"></script>
<script type="text/javascript" src="{{ router.preindex }}/src/modules/fun/jquery.wz_jsgraphics.js"></script>
<link rel="stylesheet" type="text/css" href="{{ router.preindex }}/src/modules/fun/arrowsandboxes.css" />
{% endblock %} #}

{# {% block content %}
<pre class="arrows-and-boxes">
(Te >[n2,n3]) (n2: RAXAPI <>[n3,n4]) ||
(n4: EVE|api.eveonline.com >[n6]) () (n3: Alkalmazások >[n7,n8,n9]) ||
(n6: Karakter >[n10] <>[n3]) () () ||
(n10: Cég >[n11]) (n9: Fórum)(n7: TeamSpeak) (n8: Jabber) ||
(n11: Szövetség)
</pre>
{% endblock %} #}