{% extends "Core:Site:base.html.twig" %}


{% from 'Core:Site:Macros:navigation.html.twig' import createNavigationBar %}

{% block content %}

    {{ createNavigationBar(treemap) }}

{% endblock %}