{% extends "Core:Site:base.html.twig" %}

{% block navigation %}{% endblock %}
{% block flushedMessage %}{% endblock %}

{% block content %}

<h4 style="color:red;">{{ trans('messages.pagenotallowed') }}</h4>
<a href="#" onclick="goBack();">{{ trans('back') }}</a>

{% endblock %}
