{% extends "Core:Site:base.html.twig" %}

{% block navigation %}{% endblock %}
{% block flushedMessage %}{% endblock %}

{% block content %}
{% if message != '' %}
<h4 style="color:red;">{{ trans(message, message_params, trans_domain) }}</h4>
{% else %}
<h4 style="color:red;">{{ trans('messages.pagenotfound') }}</h4>
{% endif %}
<a href="#" onclick="goBack();">{{ trans('back') }}</a>
{% endblock %}
