{% extends "Core:Site:base.html.twig" %}

{% block navigation %}{% endblock %}
{% block flushedMessage %}{% endblock %}

{% block content %}
{{ trans('messages.redirect', {'redirect': redirect})|raw }}
{% endblock %}
