{% extends "Core:Site:Admin:index.html.twig" %}

{% block content %}
<form action="{{ path('cache-admin') }}" method="post">
    <input type="hidden" name="confirm" value="true" />
    <input type="submit" value="Gyorsítótár törlése" />
</form>
Jelnlegi mérete: {{ (cache_size/1024)|number_format(2, ',', ' ') }} KB
{% endblock %}