{% extends "Core:Site:base.html.twig" %}

{% block content %}
    <h4>Konstansok:</h4>
    <form name="setup-form" action="{{ path( 'admin-setup' ) }}" method="post" class="norm_form">
        <input type="hidden" name="_token" value="{{ app.session.token }}" />
        <table>
            <tr>
                <th style="text-align:left">Neve</th>
                <th style="text-align:left">Értéke</th>
            </tr>
            {% for s in setup %}
            {% if app.client.testFlag(s.flag) %}
            <tr>
                <td>{{ s.name }}</td>
                <td><input type="text" name="options[{{ s.name }}]" value="{{ s.value }}" /></td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td><input type="text" name="options[new_option_name]" /></td>
                <td><input type="text" name="options[new_option_value]" /></td>
            </tr>
        </table>
        <label for="a-pass">Admin jelszó:</label><input type="password" name="password" id="a-pass" />
        <input type="submit" value="Mentés" />
    </form>
    <h4>Adatbázis séma:</h4>
    {% if schema_update is defined %}<p class="success">{{ schema_update|default('Az adatbázis a sémának megfelelő.')|nl2br }}</p>{% endif %}
    <form name="schema-form" action="{{ path( 'admin-db-schema' ) }}" method="post" class="norm_form">
        <input type="hidden" name="_token" value="{{ app.session.token }}" />
        <input type="hidden" name="confirm" value="true" />
        <label for="a-pass">Admin jelszó:</label><input type="password" name="password" id="a-pass" />
        <input type="submit" value="Frissítés" />
    </form>
{% endblock %}
