{% extends "Core:Site:Admin:index.html.twig" %}

{% block content %}
<form action="{{ path('logs-admin') }}" method="post">
    <select name="log">
        {% for log in logs %}
        <option value="{{ log }}" {% if log == selected_log %} selected="true"{% endif %}>{{ log }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Megtenkintése" />
</form>
<br />
<fieldset style="width:100%;height:100%;">
<legend>{{ selected_log }}</legend>
<p style="font-size:10px;">{{ current_log|nl2br }}</p>
</fieldset>
{% endblock %}