{% extends "Core:Site:base.html.twig" %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/validators.js') }}"></script>
<script type="text/javascript">
$(function(){
	$("#error_password").hide();
	{% if result is not defined or result != 'fail_mismatch_confirm' %}$("#error_confirm").hide();{% endif %}
});
</script>
{% endblock %}

{% block content %}
<div style="width:442px;margin:0 auto">

    <h4>{{ trans('config.pass-change-heading') }}</h4>
    <form class="norm_form" name="pass-change-form" action="{{ path( 'config-password' ) }}" method="post" onsubmit="return checkPassSubmit();">
        <input type="hidden" name="_token" value="{{ app.session.token }}" />

        <p>
	        <label for="pc_current">{{ trans('config.current-pass-label') }}</label>
	        <input id="pc_current" name="current" type="password" />
	    </p>

	    <p>
	        <label for="pc_new-pass">{{ trans('config.new-pass-label') }}:</label>
	        <input id="pc_new-pass" name="password" type="password" onkeyup="test_input('password');" />
	        <span class="error" id="error_password"> {{ trans('error.pass-not-safe') }}</span>
	    </p>

	    <p>
            <label for="pc_confirm-pass">{{ trans('config.confirm-pass-label') }}:</label>
	        <input id="pc_confirm-pass" name="confirm" type="password" onkeyup="test_input('confirm');" />
	        <span class="error" id="error_confirm">{{ trans('error.pass-mismatch') }} </span>
	    </p>

	    <input type="submit" value="{{ trans('config.pass-change-button') }}" style="margin-left:132px;"/>
    </form>

</div>
{% endblock %}