{% extends "Core:Site:base.html.twig" %}

{% block title %}{{ parent() }} / {{ trans('login.submit') }}{% endblock %}

{% block content %}
<form class="norm_form" name="login" target="_parent" method="post" action="{{ '/login'|preindex }}">
	<input type="hidden" name="_token" value="{{ app.session.token }}" />

	<p>
	    <label for="login_email">e-mail:</label>
	    <input id="login_email" name="email" type="text" />
	</p>

	<p>
	    <label for="login_pass">{{ trans('login.password') }}:</label>
	    <input id="login_pass" name="pass" type="password" />
    </p>

	<input type="submit" value="{{ trans('login.submit') }}" style="margin-left:132px;"/>
</form>
{% endblock %}