{% extends "Core:Site:base.html.twig" %}

{% block title %}{{ parent() }} / {{ trans('mails.settings') }}{% endblock %}

{% block content %}
{% if success %}{{ trans('config.mails-disallow-success',{'email':email}) }}{% else %}{{ trans('config.mails-disallow-fail') }}{% endif %}
{% endblock %}