{% extends "Core:Site:base.html.twig" %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/validators.js') }}"></script>
<script type="text/javascript"> $(function(){ $("#error_password").hide();$("#error_confirm").hide(); });</script>
{% endblock %}

{% block content %}
{% if reset_mail_sent is defined %}
{{ trans('reset_mail_sent', {'address': reset_mail_sent}) }}
{% elseif ask_for_new_pass is defined %}
<form action="{{ path('reset-password',{'hash':ask_for_new_pass}) }}" method="post" class="norm_form">
<p>
    <label for="input_password">{{ trans('config.new-pass-label') }}</label>
    <input id="input_password" name="password" type="password" size="30" value="" onkeyup="test_input('password');"/>
    <span class="error" id="error_password"> {{ trans('error.pass-not-safe') }}</span>
</p>
<p>
    <label for="input_confirm_password">{{ trans('config.confirm-pass-label') }}</label>
    <input id="input_confirm_password" name="confirm" type="password" size="30" value="" onkeyup="test_input('confirm');"/>
    <span class="error" id="error_confirm">{{ trans('error.pass-mismatch') }} </span>
</p>
    <input type="submit" value="{{ trans('reset-password') }}" style="margin-left:130px;" />
</form>
{% else %}
<form action="{{ path('reset-password') }}" method="post" class="norm_form">
    <label for="in_email">e-mail</label>
    <input id="in_email" type="text" name="email" />
    <input type="submit" value="{{ trans('config.new-pass-label') }}" />
</form>
{% endif %}
{% endblock %}